<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <giftcard>
            <general>
                <enable>1</enable>
                <allow_use>1</allow_use>
                <allow_redeem>0</allow_redeem>
            </general>
        </giftcard>
    </default>
</config>
