<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mageplaza_giftcard_listing_data_source" xsi:type="string">GiftCardVirtualType</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="GiftCardVirtualType" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">giftcard_code</argument>
            <argument name="resourceModel" xsi:type="string">Mageplaza\GiftCard\Model\ResourceModel\GiftCard</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="addGiftcard" xsi:type="object">Mageplaza\GiftCard\Console\AddGiftcard</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Cart\Coupon">
        <plugin name="giftcard_code" type="Mageplaza\GiftCard\Plugin\GiftCardCode"/>
    </type>
</config>
